@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --color-foreground: oklch(0.2435 0 0);
  --color-muted: oklch(0.6895 0 0);
  --color-card: oklch(0.9677 0.0027 286.35);
  --color-placeholder: oklch(0.8859 0.0027 286.34);
}

@layer base {
  [x-cloak] {
    display: none !important;
  }

  a {
    color: inherit;
    text-decoration-line: none;
    text-decoration-style: dotted;
    text-decoration-thickness: 6%;
    text-underline-offset: 3px;
    text-decoration-skip-ink: auto;
    text-decoration-line: underline;
  }

  a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
}